@charset "UTF-8";

#canvas {
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	/*border: 5px skyblue dashed;*/
}

html, body{
	width: 100%;
	height: 100%;
}

#canvas-wrapper{
	margin: auto;
	width: 100%;
	height: 100vh;
	border: 5px skyblue dashed;
}